// Contains CSS related to any /account routes
// --------------------------------------------------

// Import Vars
@import "var.less";

// keep cards the same size
.address-card > .grid-body {
  height: 99px;
}
.address-card > a.button-grid {
  display: block;
  padding: 50px 0 104px 0 !important;
  font-size: 150%;
  color: #CDCDCD !important;
}