// Webarch Default Theme  
// --------------------------------------------------
// Copyright Reserved Revox - 2014
// --------------------------------------------------

// Import Vars
@import "var.less";
@import "account.less";

[v-cloak] {
  display: none
}

address {
  display: inline-block;
  height: 55px;
}

span.required {
  color: #AB0000;
}

// The default setting for this is inline-block, but selenium
// isn't seeing it as visible with that setting, so we'll override
// it for acceptance test purposes (I cringe doing this)
.checkbox > label {
  display: block;
}

// allow gray menubar to be used in grid boxes
.grid.simple > .bar {
  position: inherit !important;
  margin-top: 0px !important;
  .active {
    background-color: #f9fafc;
  }
}

span.pagination {
  margin: 0;
}

// --------------------------------------------------
// allow all icons to be used inside of delete forms

// removed ".tools > a" limitation from originals
.grid.simple .grid-title .tools a.remove, .grid.solid .grid-title .tools a.remove {
  background-position: -66px -38px;
  width: 10px;
  height: 10px;
  top: -5px;
}
.grid-title .tools a {
  display: inline-block;
  height: 16px;
  margin-left: 5px;
}
.grid-title .tools a:hover {
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  opacity: .6;
}

// allow "fa" icons to be used
.grid-title .tools a.fa {
  background: transparent !important;
  color: #666 !important;
}
.grid-title .tools a.fa.fa-edit {
  width: 18px;
}
.grid-title .tools a.fa:hover {
  color: #333 !important;
}
.grid-body {
  padding: 15px;
}
.grid.simple {
  .grid-title {
    padding: 8px 10px 2px 10px;
    border-bottom: 1px solid #eee;
    color:  @color-white  !important;
    margin-bottom: 0px;
    & > .actions {
      & > .btn {
        & > i {
          color:  @color-white  !important;
        }
      }
    }
    .tools {
      margin-top: 3px;
      a {
        background: transparent;
      }
      .config {
        background: url("@{base-img-url}/icon/portlet-tray.png") no-repeat;
        width: 23px;
        height: 23px;
      }
    }
  }
}

// --------------------------------------------------
// In-page tabs
.nav.nav-tabs {
  background-color: #eee;

  .active {
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    a {
      border-radius: 5px 5px 0 0;
    }
  }
}

// --------------------------------------------------
// Icons
a.fa.fa-trash-o,
a.fa.fa-star-o,
a.fa.fa-star {
  cursor: pointer;
}
// --------------------------------------------------
// Grid Tables
.table-header {
  padding-bottom: 10px;
  padding-top: 10px;
  > div {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
  }
}
.table-row {
  border-top: 1px solid #e5e9ec;
  > div {
    padding: 10px 12px !important;
  }
}

// --------------------------------------------------
// group dropdown menu
.dropdown-menu > .create-option {
  text-align: center;
  padding: 4px;
  a {
    color: #fff;
    display: inline-block;
  }
  // inherit btn-primary
  a:hover {
    color: #fff;
    background-color: #099a8c;
  }
}
.group-menu {
  text-align: left;
  margin-right: 0;
  display: inline-block;
  .float(left);
  line-height: 18px;
  .groupname {
    color: #1b1e24;
    font-size: 14px;
    .fa-edit {
      width: 14px;
    }
  }
  .grouptype {
    color: #8b91a0;
    font-size: 12px;
  }
  .top-down-arrow {
    float: right;
    margin-top: 1em;
    margin-left: 1em;
  }
  .dropdown-menu > li > a {
    line-height: normal;
    padding: .5em 1em;
  }
  .iconset.top-down-arrow {
    background-position: -228px -2px;
    cursor: pointer;
    margin-top: 0;
    margin-left: 0;
    padding: 1em;
  }
}

dd {
  margin-top: 4px;
  margin-left: 1em;
}
.grid-title h4.full-width {
  width: 100%;
}

// ensure backdrop is visible
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1039;
}
.fa-7x {
  font-size: 7em !important;
}

.btn-copy {
  i.fa-check {
    position: relative;
    top: 4px;
  }
}

// Ripples
.ripple, .btn {
  overflow: hidden;
  position: relative;
}

.ripple-effect {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;
  animation: ripple-animation 2s;
}

@keyframes ripple-animation {
  from {
    transform: scale(1);
    opacity: 0.4;
  }
  to {
    transform: scale(100);
    opacity: 0;
  }
}

.gray-box {
  background-color: #f2f4f6;
  padding: 1em;
}

// Checkbox Overrides.
.checkbox {
  label {
    margin: 0;
  }
}

// CheckAllPlayers label override.
label[for=checkAllPlayers]:before,
label[for=checkAllPlayers]:after  {
  margin-top: 7px;
}

// Bootstrap Form Horizontal override.
.form-horizontal {
  width: 100%;
}

.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

// hide up/down arrows for number fields
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Guest navigation bar
.guest-nav {
  margin-top: 12px !important;
  > .semi-bold {
    margin-top: 1em !important;
  }
  > li {
    margin-right: .5em !important;
  }
}

th .tooltip {
  text-transform: none !important;
}

#user-switch-notification {
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  border-top: 1px solid #bfd4de;
}